<%-include('heading') %>
<body>
<%-include('navbar_loggedIn') %>
<%-include('cart_style') %>
<div class="cart_section">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-10 offset-lg-1">
              <div class="cart_container">
                  <div class="cart_title">Shopping Cart<small> (1 item in your cart) </small></div>
                  <div class="cart_items">
                      <ul class="cart_list">
                          <% for(let i = 0; i < totalProducts; i++){ %>
                            <li class="cart_item clearfix">
                              <div class="cart_item_image"><img src="<%= purchase[i].image %>" alt=""></div>
                              <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                  <div class="cart_item_name cart_info_col">
                                      <div class="cart_item_title">Name</div>
                                      <div class="cart_item_text"><%= purchase[i].name %></div>
                                  </div>
                                  <div class="cart_item_quantity cart_info_col">
                                      <div class="cart_item_title">Quantity</div>
                                      <div class="cart_item_text"><%= purchase[i].count%></div>
                                  </div>
                                  <div class="cart_item_price cart_info_col">
                                      <div class="cart_item_title">Price</div>
                                      <div class="cart_item_text">$<%= purchase[i].price %></div>
                                  </div>
                                  <div class="cart_item_total cart_info_col">
                                      <div class="cart_item_title">Total</div>
                                      <div class="cart_item_text">$<%= purchase[i].price %></div>
                                  </div>
                              </div>
                          </li>
                          <%}%>
                      </ul>
                  </div>
                  <div class="order_total">
                      <div class="order_total_content text-md-right">
                          <div class="order_total_title">Order Total:</div>
                          <div class="order_total_amount">$<%= totalPrice %></div>
                      </div>
                  </div>
                  <div class="cart_buttons"> 
                    <form action="/cart" method="post">
                    <input type="text" style="visibility:hidden" value="Hello" id="cart_button" name="cart_input">
                    <button class="button cart_button_clear" type="submit" onclick="document.getElementById('cart_button').value = 'home'">Continue Shopping</button>
                    <button class="button cart_button_checkout" type="submit" onclick="document.getElementById('cart_button').value = 'checkout'">Checkout and Pay</button>
                    <button class="button cart_button_checkout btn-secondary" type="submit" onclick="document.getElementById('cart_button').value = 'clear';">Clear Cart</button>
                  </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</body>
