<%- include("heading"); -%>
<%- include("carousel_css"); -%>

<body>
  <!-- Navigation-->
  <%- include("navbar_loggedIn.ejs") -%>


        <!-- carousel -->
        <%- include("carousel.ejs") -%>

  <!-- Section-->
  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <div class="col mb-5">
          <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="https://contents.mediadecathlon.com/p1830216/a5c3c27c1a1dab5cb7b295dbc369031a/p1830216.jpg" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Kipsta Checked Shirt</h5>
                      <!-- Product price-->
                      $80.00
                  </div>
              </div>
              <!-- Product actions-->
              <form action="/" method="post">
              <input type="text" name="item" id="item1" style="visibility: hidden;" value="<%= cart[0].name%>">
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><input type="submit" value="Buy Now"
                      class="btn btn-outline-dark mt-auto cart-button" onclick="this.value = '+1'"
                      ></div>
                  </div>
            </form>
          </div>
      </div>
      <div class="col mb-5">
          <div class="card h-100">
              <!-- Sale badge-->
              <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
              <!-- Product image-->
              <img class="card-img-top" src="https://assetscdn1.paytm.com/images/catalog/product/A/AP/APPUS-PEPPER-NEASHA322624B7835732/1563042168624_0..png" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">US Polo Casual Shirt</h5>
                      <!-- Product reviews-->
                      <div class="d-flex justify-content-center small text-warning mb-2">
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                      </div>
                      <!-- Product price-->
                      <span class="text-muted text-decoration-line-through">$65.00</span>
                      $50.00
                  </div>
              </div>
              <!-- Product actions-->
              <form action="/" method="post">
              <input type="text" name="item" id="item" style="visibility: hidden;" value="<%= cart[1].name%>">
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><input type="submit" value="Buy Now"
                      class="btn btn-outline-dark mt-auto cart-button" onclick="this.value = '+1'"></div>
              </div>
            </form>
          </div>
      </div>
      <div class="col mb-5">
          <div class="card h-100">
              <!-- Sale badge-->
              <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
              <!-- Product image-->
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnGjMMGhOjT52VhcnCr98zGDwYVLmQYegzMw&usqp=CAU" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Jeans Shorts</h5>
                      <!-- Product price-->
                      <span class="text-muted text-decoration-line-through">$60.00</span>
                      $50.00
                  </div>
              </div>
              <!-- Product actions-->
              <form action="/" method="post">
              <input type="text" name="item" id="item" style="visibility: hidden;" value="<%= cart[2].name%>">
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><input type="submit" value="Buy Now"
                      class="btn btn-outline-dark mt-auto" onclick="this.value = '+1'" href="#"></div>
              </div>
            </form>
          </div>
      </div>
      <div class="col mb-5">
          <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0266/6276/4597/files/Banner_15.jpg?v=1667645802" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Jockey Shorts</h5>
                      <!-- Product reviews-->
                      <div class="d-flex justify-content-center small text-warning mb-2">
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                      </div>
                      <!-- Product price-->
                      $45.00
                  </div>
              </div>
              <!-- Product actions-->
              <form action="/" method="post">
              <input type="text" name="item" id="item" style="visibility: hidden;" value="<%= cart[3].name%>">
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><input type="submit" value="Buy Now"
                      class="btn btn-outline-dark mt-auto" onclick="this.value='+1'" href="#"></div>
              </div>
            </form>
          </div>
      </div>
      <div class="col mb-5">
          <div class="card h-100">
              <!-- Sale badge-->
              <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
              <!-- Product image-->
              <img class="card-img-top" src="https://cdn.shopify.com/s/files/1/0266/6276/4597/products/300903250DKBLUE_2_1024x1024.jpg?v=1658427365" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Ripped Jeans</h5>
                      <!-- Product price-->
                      <span class="text-muted text-decoration-line-through">$69.99</span>
                      $47.50
                  </div>
              </div>
              <!-- Product actions-->
              <form action="/" method="post">
              <input type="text" name="item" id="item" style="visibility: hidden;" value="<%= cart[4].name%>">
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><input type="submit" value="Buy Now"
                      class="btn btn-outline-dark mt-auto" onclick="this.value = '+1'" href="#"></div>
              </div>
            </form>
          </div>
      </div>
      <div class="col mb-5">
          <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="https://m.media-amazon.com/images/I/61WIS7hjQ8S._UX569_.jpg" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Navy Trousers</h5>
                      <!-- Product price-->
                      $99.99
                  </div>
              </div>
              <!-- Product actions-->
              <form action="?" method="post">
              <input type="text" name="item" id="item" style="visibility: hidden;" value="<%= cart[5].name%>">
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><input type="submit" value="Buy Now"
                      class="btn btn-outline-dark mt-auto" onclick="this.value = '+1'" href="#"></div>
              </div>
            </form>
          </div>
      </div>
      <div class="col mb-5">
          <div class="card h-100">
              <!-- Sale badge-->
              <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
              <!-- Product image-->
              <img class="card-img-top" src="https://www.bagteshfashion.com/public/storage/uploads/images/product/product_image/MSU276.jpg" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Casual Blue Suit</h5>
                      <!-- Product reviews-->
                      <div class="d-flex justify-content-center small text-warning mb-2">
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                      </div>
                      <!-- Product price-->
                      <span class="text-muted text-decoration-line-through">$90.00</span>
                      $60.00
                  </div>
              </div>
              <!-- Product actions-->
              <form action="?" method="post">
              <input type="text" name="item" id="item" style="visibility: hidden;" value="<%= cart[6].name%>">
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><input type="submit" value="Buy Now"
                      class="btn btn-outline-dark mt-auto" onclick="this.value = '+1'" href="#"></div>
              </div>
            </form>
          </div>
      </div>
      <div class="col mb-5">
        <form action="/" method="post">
          <div class="card h-100">
              <!-- Product image-->
              <img class="card-img-top" src="https://img1.exportersindia.com/product_images/bc-full/2022/8/10667111/mens-zipper-sweatshirt-1661245819-6503920.jpeg" alt="..." />
              <!-- Product details-->
              <div class="card-body p-4">
                  <div class="text-center">
                      <!-- Product name-->
                      <h5 class="fw-bolder">Zipper Hoodie</h5>
                      <!-- Product reviews-->
                      <div class="d-flex justify-content-center small text-warning mb-2">
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                          <div class="bi-star-fill"></div>
                      </div>
                      <!-- Product price-->
                      $100.00
                  </div>
              </div>
              <!-- Product actions-->
              <input type="text" name="item" id="item" style="visibility: hidden;" value="<%= cart[7].name%>">
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                  <div class="text-center"><input type="submit" value="Buy Now"
                      class="btn btn-outline-dark mt-auto" onclick="this.value = '+1'"></div>
              </div>
          </div>
        </form>
      </div>


      </div>    
    </div>
  </section>  
  <!-- Footer-->
  <%- include("footer.ejs") -%>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  
  <script>
    function addToCart(this) {
      // localStorage.setItem()
      console.log('storing');
    }
    
    var cart = [{
  name:"Prada Rectangle Grey",
  price: 80.00,
  image: "https://contents.mediadecathlon.com/p1830216/a5c3c27c1a1dab5cb7b295dbc369031a/p1830216.jpg",
  count: 0
},
{
  name:'Oakley Sportswear',
  price: 40.00,
  image:'https://m.media-amazon.com/images/I/719pG5fEsrL._UX679_.jpg',
  count: 0
},
{
  name: 'Ray Ban Classics',
  price: 50.00,
  image: 'https://ph-test-11.slatic.net/p/39920b97783448ff127dcbb4d546722a.jpg',
  count: 0
},
{
  name: 'Ray Ban Sunglasses',
  price: 45.00,
  image:'https://images.ray-ban.com/is/image/RayBan/805289114567__001.png?impolicy=RB_Product_front&width=720&bgc=%23f2f2f2',
  count: 0
},
{
  name:'Oakley Sunglasses',
  price: 47.50,
  image: 'https://5.imimg.com/data5/AX/HL/MY-8321312/men-s-oakley-sunglasses-500x500.jpg',
  count: 0
},
{
  name: 'Diesel Womens Stylish',
  price: 99.99,
  image:'https://m.media-amazon.com/images/I/71oO71TTMGL._UL1500_.jpg',
  count: 0
},
{
  name:'Diesel Rimless',
  price: 60.00,
  image: 'https://cdn1.titaneyeplus.com/tep_m2_prod/media/catalog/product/cache/614e2406485059d8c03655e235f03687/f/s/fsl761060515252_3_lar.jpg',
  count: 0
},
{
  name:'Gucci Photochromic Sunglasses',
  price: 100.00,
  image: "https://cz.shadestation.com/media/thumbs/920x575/media/product_images/Gucci-sunglasses-GG0062S-019-57fw920fh575.jpg",
  count: 0
}
]
    
  </script>

</body>