<%- include("heading"); -%>
<%- include("carousel_css"); -%>
<% var cart = [{
  name:"Prada Rectangle Grey",
  price: 80.00,
  image: "https://cdn11.bigcommerce.com/s-28d61/products/9138/images/114235/eyewear-brands-prada-rectangle-grey-ufj1o1-metal-semi-rimless-mens-eyewear-0ps-55fv__12099.1653080532.1280.1280.jpg?c=2",
  count: 0
},
{
  name:'Oakley Sportswear',
  price: 40.00,
  image:'https://m.media-amazon.com/images/I/719pG5fEsrL._UX679_.jpg',
  count: 0
},
{
  name: 'Ray Ban Classics',
  price: 50.00,
  image: 'https://ph-test-11.slatic.net/p/39920b97783448ff127dcbb4d546722a.jpg',
  count: 0
},
{
  name: 'Ray Ban Sunglasses',
  price: 45.00,
  image:'https://images.ray-ban.com/is/image/RayBan/805289114567__001.png?impolicy=RB_Product_front&width=720&bgc=%23f2f2f2',
  count: 0
},
{
  name:'Oakley Sunglasses',
  price: 47.50,
  image: 'https://5.imimg.com/data5/AX/HL/MY-8321312/men-s-oakley-sunglasses-500x500.jpg',
  count: 0
},
{
  name: 'Diesel Womens Stylish',
  price: 99.99,
  image:'https://m.media-amazon.com/images/I/71oO71TTMGL._UL1500_.jpg',
  count: 0
},
{
  name:'Diesel Rimless',
  price: 60.00,
  image: 'https://cdn1.titaneyeplus.com/tep_m2_prod/media/catalog/product/cache/614e2406485059d8c03655e235f03687/f/s/fsl761060515252_3_lar.jpg',
  count: 0
},
{
  name:'Gucci Photochromic Sunglasses',
  price: 100.00,
  image: "https://cz.shadestation.com/media/thumbs/920x575/media/product_images/Gucci-sunglasses-GG0062S-019-57fw920fh575.jpg",
  count: 0
}
];%>
<body>
  <!-- Navigation-->
  <%- include("navbar_loggedIn.ejs") -%>
  <!-- Header-->
  <!-- <header class="bg-dark py-5 banner">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Shop in style</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Prize for your eyes</p>
                </div>
            </div>
        </header> -->

        <!-- carousel -->
        <%- include("carousel.ejs") -%>
  <!-- Section-->


  <section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
      <div
        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <% for(let i = 0; i < 8; i++){ %>
          <div class="col mb-5">
            <form action="/" method="post">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top" src=<%= cart[i].image %> alt="..." />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder"><%= cart[i].name %></h5>
                        <!-- Product price-->
                        $<%= cart[i].price %>
                    </div>
                </div>
                <input type="text" name="item" id="item" style="visibility: hidden;" value="<%= cart[i].name%>">
                
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                      <!-- <button class="btn btn-outline-dark mt-auto" type="submit" onclick="">Buy Now</button> -->
                      <input type="submit" value="Buy Now" class="btn btn-outline-dark mt-auto" onclick="this.value = '+' + <%= ++cart[i].count %>;">
                      <!-- <a class="btn btn-outline-dark mt-auto" href="#">Buy Now</a> -->
                    </div>
                </div>
            </div>
          </form>
        </div>
        <% } %>


      </div>    
    </div>
  </section>  
  <!-- Footer-->
  <%- include("footer.ejs") -%>
  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>

</body>